# 参考：https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# clang-format -i --style=file <file>
# e.g clang-format -i --style=file contest/U360300.cc
---
# Google基础编码规范 --- 表示语言区分
BasedOnStyle: Google
---
Language: Cpp

# 行长度80或者120（Google编码规范为80，腾讯编码规范为120）
ColumnLimit: 120

# 指针对齐到类型名
PointerAlignment: Left

# 自动识别代码中的指针对齐方式，如果希望强制统一，则可以改为 false
DerivePointerAlignment: true

# Only sort headers in each include block
# 调整include顺序
SortIncludes: true

# 每个include block内独立调整顺序，注：Regroup会把所有的""都合并都一起，无法区分项目内外
IncludeBlocks: Preserve

# 让 #if/#else/#endif 宏中的内容保持缩进，比如：
#   #if defined(WIN)
#   #  include <windows.h>
#   #else
#   #  include <curl.h>
#   #endif
IndentPPDirectives: AfterHash

# 解决 Issue 148: 不特殊看待 foreach 宏
ForEachMacros: ['']

# 行注释 "//" 前增加两个空格
SpacesBeforeTrailingComments: 2

# 注释不对齐，仅跟行尾;距离两个空格
AlignTrailingComments: false
# AlignTrailngComments: true
---
Language: Proto
ColumnLimit: 0
AlignTrailingComments: false